h1 {
  margin-left: 65px;
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 26px;
  margin-bottom: 12px;
}
li {
  list-style: none;
  font-size: 15px;
  line-height: 1.5;
}

form {
  margin-top: 34px;
  margin-left: 42px;
}
.container {
  width: 640px;
  margin-top: 120px;
}

.temperature {
  font-size: 35px;
  margin-left: 55px;
}
#current {
  background-color: #1d3a4d;
  border-color: #99cbe8;
}
#search {
  background-color: #99cbe8;
  border-color: #1d3a4d;
}
#search:hover {
  background-color: #1d3a4d;
}
#current:hover {
  background-color: #99cbe8;
}

.row {
  margin: 10px;
}
#forecast {
  text-align: center;
}
#weather-info {
  padding-inline-start: 0px;
}
#celsium,
#fahrenheit {
  font-size: 15px;
}
